{% set paymentId = 0 %}
{% set paidStatus = '' %}

{% set properties = order.properties %}

{% for property in properties %}
  {% if property.typeId == 3 %}
    {% set paymentId = property.value %}
  {% endif %}
  {% if property.typeId == 4 %}
    {% set paidStatus = property.value %}
  {% endif %}
{% endfor %}
{% if (paymentId == paymentMethodId) and (paidStatus != 'fullyPaid') %}
  {% set display = "block" %}
{% else %}
  {% set display = "none" %}
{% endif %}

{% if services.template.isCurrentTemplate('tpl.my-account') %}
  <button id="reinitPaymentMethod-{{order.id}}" class="btn btn-primary btn-block"   @click="" data-toggle="modal" data-target="#paymentMethod" :disabled="" style="display: {{ display }}; margin-top: 0.5rem">
    Pay Now
  </button>
{% elseif services.template.isCurrentTemplate('tpl.confirmation') %}
  <div id="reinitPaymentMethod-{{order.id}}" class="row con-reinit" style="display:{{ display }};">
    <strong class="col-xs-6 col-sm-5"></strong>
    <span class="col-xs-6 col-sm-7">
      <input type="hidden" name="paymentMethodId" id="paymentMethodId" value="{{paymentMethodId}}">
      <a class="payment-confirmation-btn"  id="reinitNnPayment" @click=""  :disabled=""> Pay Now </a>
    </span>
  </div>
{% endif %}



<div class="modal" tabindex="-1" role="dialog" id="novalnetPaymentForm1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      {% include "Novalnet::PaymentForm.NOVALNET_SEPA" %}
    </div>
  </div>
</div>

<script>
  jQuery('document').ready(function() {
    jQuery('#reinitNnPayment').click();
   jQuery('.payment-confirmation-btn').click(function() {
     jQuery('#novalnetPaymentForm1').show();
   });
  });
</script>
